<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li>{{Caps .Name}}'s ace monster is the {{Caps .AceMonster}}</li>
    <li>{{FT .Name}}'s ace monster is the {{FT .AceMonster}}</li>
</ul>
</body>
</html>