<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    {{range $key, $value := .}}
    <li>{{$key}} summons the {{$value}}!</li>
    {{end}}
</ul>
</body>
</html>